@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<form asp-action="Create">
  
    <partial name="PartialView/CreateEditPartialView" />

    <input type="submit" value="Submit" class="btn btn-success"/>
    <a asp-action="Index" class="btn btn-info">Back To List</a>
</form>
@section ValidateScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}