@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Department @Model.Name Delete</h1>

<form asp-action="Delete">

    <partial name="PartialView/DeleteDetailsPartialView" />


    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-info">Back To List</a>
</form>

